@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/base";
@import "partials/font";

body {
  font-family: "Open Sans";
  background-color: $back-ground;
  font-size: $font-size-mobile;
  height: 100vh;
}


header {
  @include flex();
  margin-top: 5px;
  height: 90%;
  width: 100%;

}


.logo {

  margin: 0 auto;
  text-align: center;
  font-size: $font-size-mobile;

  img {
    margin: 0;
    height: 220px;
  }

  @include tablet {
    display: flex;
    flex-direction: row;

  }

  @include desktop {

    padding-left: 2rem;
    margin: 0 0;
    align-content: flex-start;

  }

}

.choose-section-container {

  padding-bottom: 15px;
  font-size: $font-size-mobile;
  margin-top: 1rem;

  h3 {
    color: white;
    margin-bottom: 1rem;

  }

  @include tablet {

    @include flex();
    width: 100%;
    font-size: 14px;

  }

  @include desktop {

    margin: 0 0;
    padding-left: 0rem;
    padding-bottom: 2rem;
    font-size: $font-size-desktop;
    text-align: left;


  }

}


.selection {

  margin: 0 auto;
  width: 107px;
  height: 32px;

  @include desktop {
    margin: 0 0;
    align-content: flex-start;

  }

}


footer {

  width: 100%;
  height: 9%;

  bottom: 0;

  font-size: $font-size-mobile;
  color: #c2c2c2;
  text-align: center;

  @include desktop {

    font-size: $font-size-desktop;
    text-align: left;
    padding-left: 2rem;

  }

}

header.activate {
  margin: 0;
  height: 240px;
  max-width: 600px;
  padding: 32px;

  @include tablet {

    height: 72px;
    max-width: 999px;

  }

  @include desktop {

    height: 72px;
  }

}


header.activate .logo {

  height: 220px;
  width: 300px;

  @include tablet {

    height: 135px;
    max-width: 600px;
    padding-right: 300px;

  }

  img {

    width: 150px;
    height: 150px;

    @include tablet {

      width: 67px;
      height: 67px;

    }

  }

}

header.activate .choose-section-container {

  padding: 10px;

  margin: 0;

  @include tablet {

    text-align: left;

    padding-left: 60px;

  }

}

header.activate select.selection {

  margin: 0 auto;
  width: 107px;
  height: 32px;

  @include tablet {

    margin: 0;
    height: 32px;
    display: flex;
    justify-content: flex-start;

  }

  @include desktop {

    align-content: flex-start;
    font-size: $font-size-desktop;

  }

}



.selectPage {
  display: relative;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {

    display: flex;
    flex-direction: row;
    padding-top: 50px;
  }


}

ul {
  list-style: none;
}


a,
li {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center;
  position: relative;

  @include tablet {
    flex: 1 0 50%;

  }

  @include desktop {

    flex: 1 0 25%;

  }

}

.title {
  position: absolute;
  bottom: 0;
  text-align: left;
}


.loading {

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 150px;
    height: 150px;

  }
}