@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/base";
@import "partials/font";

body {
  font-family: "Open Sans";
  background-color: black;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.page-container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;

    width: 100%;
  }

  @include webpage {
    height: 600px;
  }
}

.logo img {
  margin-top: 20px;

  @include tablet {
    width: 30%;
    height: 30%;

    margin-left: 30%;
    margin-right: 30%;
  }

  @include desktop {
    margin: 20% 30%;
  }

  @include webpage {
    width: 100%;
    height: 100%;

    margin-left: 10px;
  }
}

.top-banner {
  @include webpage {
    display: flex;
  }
}

.select-webs {
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include webpage {
    margin-left: 30px;
    padding-top: 20px;
  }
}

.selection {
  font-size: 18px;

  @include tablet {
    font-size: 14px;
  }

  @include webpage {
    font-size: 16px;
  }
}

.search-form-inner h3 {
  font-size: 12px;
  color: white;

  @include tablet {
    font-size: 16px;
  }
}

.bottom-banner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;

  @include desktop {
    display: flex;
    justify-content: flex-start;
    height: 70px;
  }
}

.bottom-banner h3 {
  color: #c2c2c2;
  font-size: 16px;

  @include desktop {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    margin-top: 20px;
  }
}

.selectPage {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }

  @include webpage {
  }
}

.pictures {
  width: 200px;
  height: 400px;
  flex: 1 0 100%;
  display: flex;
  background-position: center left;
  background-size: cover;
  color: white;
  text-decoration: none;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
    width: 150px;
    height: 400px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
  }

  h2 {
    align-self: flex-end;
  }
}

.loading img {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  z-index: 10%;
}
