@import'partials/normalize';
@import'partials/variables';
@import'partials/mixins';
@import'partials/base';
@import'partials/layout';
@import'partials/base';
@import'partials/font';

body {

    font-family: "Open Sans";
    background-color: rgb(180, 66, 66);
    font-size: 12px;
    text-align: center;
    position: relative;
}

.page-container {

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include desktop {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    @include webpage {
        height: 10%;
    }
}

.logo img {
    margin-top: 20px;
    width: 30%;
}

form {
    width: 100%;

    .search {
        h1 {
            font-size: 4em;
            text-transform: uppercase;
        }

        .selection {
            width: 30%;
            height: 50px;
            font-size: 1.5em;
            border-radius: 6px;
            font-weight: 600;
        }
    }
}

.pictures {

    width: 200px;
    height: 400px;
    flex: 1 0 100%;
    display: flex;
    background-position: center left;
    background-size: cover;
    color: white;
    text-decoration: none;

    @include tablet {

        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;
        width: 150px;
        height: 400px;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 25%;
    }

    h2 {
        align-self: flex-end;
    }
}

.selectPage {


    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    @include tablet {

        display: flex;
        flex-wrap: wrap;

    }

    @include desktop {

        display: flex;
        flex-wrap: wrap;


    }

    @include webpage {}

}

.loading img {
    width: 40px;
    height: 40Px;

    position: absolute;
    top: 50%;
    z-index: 10%;
}