@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/base";
@import "partials/font";

body {
  font-family: "Open Sans";
  background-color: $back-ground;
  font-size: $font-size-mobile;
  height: 100vh;
}


header {
  @include flex(column, center, center);
  margin-top: 5px;
  @include heightandwidth(90%, 100%);

}


//before select-section header

.logo {
  @include heightandwidth(90vh, 100%);

  padding: 3rem;


  @include flex(column, center, center);

  @include tablet {
    @include flex(row, center, center);
  }

  @include desktop {
    @include flex(row, flex-start, center);
  }



  img {

    width: 220px;
    @include heightandwidth(null, 220px);
    padding-bottom: 20px;

    @include tablet {

      padding: 0;

      max-width: 30%;

    }

  }

}

.choose-section-container {
  @include heightandwidth(null, 150px);

  margin: 0 auto;

  @include tablet {
    padding-left: 0;
    margin-right: 120px;
    margin-left: 30px;
    text-align: left;

  }

  h3 {
    font-size: .8rem;
    margin-top: 0;
    color: $font-color;

    @include tablet {
      font-size: .9rem;

    }

  }

}




//after


.activate {
  padding: 3rem;
  align-self: flex-start;
  @include heightandwidth(auto, 100%);

  @include tablet {
    padding: 2rem;
    @include heightandwidth(null, 75%);
    @include flex(row, flex-start, null);
  }

  img {
    @include heightandwidth(150px, 150px);
    margin: 0 auto;

    @include tablet {
      @include heightandwidth(75px, 75px);
      margin: 0 40px 0 0;


    }

  }

  .h3 {
    margin-top: 1rem;

    @include tablet {
      margin-top: .5rem;
    }

  }

}





//select-section
ul.selectPage {
  display: grid;
  grid-template-rows: repeat(12, 1fr);

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);

  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }


}

.selectPage {

  margin-top: 0;
  padding: 0;

  @include tablet {
    @include heightandwidth(null, 100%);

  }


  a {

    text-decoration: none;
    color: $font-color;

    .article-picture {

      @include heightandwidth(420px, 100%);
      background-size: cover;
      background-position: 50%;
      display: flex;



      p {

        background: $p-color;
        margin: 0;
        padding: 0.5rem;
        line-height: 1.5rem;
        text-align: left;
        align-self: flex-end;
        @include heightandwidth(null, 100%);
      }

    }

  }

}

.loading {

  display: none;
  position: absolute;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



// footer 
footer {
  @include heightandwidth(9%, 100%);

  margin-bottom: 0;
  font-size: $font-size-mobile;
  color: #c2c2c2;
  text-align: center;
  bottom: 0;
  position: relative;

  @include desktop {

    font-size: $font-size-desktop;
    text-align: left;
    padding-left: 2rem;

  }

}