@mixin flex($flexflow, $justify, $align) {
    display: flex;
    flex-flow: $flexflow;
    justify-content: $justify;
    align-items: $align;
}

@mixin heightandwidth($height, $width) {
    height: $height;
    width: $width;
}